.header {
  &_logo {
    background-color: $color__text-main;
    padding: 12px 10px;
  }

  @include media-breakpoint-down(sm) {
    &_logo {
      &-image {
        max-width: 48px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &_logo {
      padding: 24px 10px;
    }
  }
}