.header {
  &_logo {
    background-color: $color__text-main;
    padding: 12px 10px;
  }

  ul.nav {
    margin: 0;
  }

  .offcanvas-body {
    ul.nav {
      a {
        padding: 0.5rem 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &_logo {
      &-image {
        max-width: 48px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &_logo {
      padding: 24px 10px;
    }
  }
}