.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.button {
	border-radius: 7px;
	font-size: 17px;
	line-height: 20px;
	padding: 18px 36px;
	transition: all 0.3s;
	&.default {
		background-color: $primary;
		color: $white !important;
		&:hover {
			background-color: $secondary;
			color: $white;
		}
	}
}

.banner {
	background-color: $secondary;
	&_background{
		&-image {
			height: 100%;
			pointer-events: none;
			width: 100%;

			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}

	&_box {
		background-color: $white;
		margin: 108px 0 36px;
		padding: 36px 18px 72px;
		position: relative;
		z-index: 1000;

		&-title {
			border-bottom: 2px solid;
			display: table-caption;
			line-height: 60px;
			margin: 0 0 36px;
		}
		&-description {
			font-size: 24px;
			line-height: 28px;
			max-width: 485px;
		}
	}

	@include media-breakpoint-up(md) {
		&_box {
			margin: 108px 0 0;
			padding: 72px 36px;
		}
    &_background{
			&-image {
				transform: translateY(-50%);
				max-width: 60%;
			}
		}
  }
}