.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.button {
	border-radius: 7px;
	font-size: 17px;
	line-height: 20px;
	padding: 16px 34px;
	transition: all 0.3s;
	&.default {
		background-color: $primary;
		border: 2px solid $primary;
		color: $white !important;
		&:hover {
			background-color: $secondary;
			border-color: $secondary;
			color: $white;
		}
	}
	&.outline {
		border-color: $primary;
		color: $primary !important;
		&:hover {
			background-color: $secondary;
			border-color: $secondary;
		}
		&_light {
			border-color: $white;
			color: $white !important;
			&:hover {
				background-color: $white;
				border-color: $white;
				color: $secondary !important;
			}

		}
	}
}

.banner {
	background-color: $secondary;
	&_background{
		&-image {
			height: 100%;
			pointer-events: none;
			width: 100%;

			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}

	&_box {
		background-color: $white;
		margin: 108px 0 36px;
		padding: 36px 18px 72px;
		position: relative;
		z-index: 1000;

		&-title {
			border-bottom: 2px solid;
			display: table-caption;
			line-height: 60px;
			margin: 0 0 36px;
		}
		&-description {
			font-size: 24px;
			line-height: 28px;
			max-width: 485px;
		}
	}

	@include media-breakpoint-up(md) {
		&_box {
			margin: 108px 0 0;
			padding: 72px 36px;
		}
    &_background{
			&-image {
				transform: translateY(-50%);
				max-width: 60%;
			}
		}
  }
}

.services {
	padding: 48px 0 0;
	&-title {
		margin-bottom: 36px;
	}
	&_box {
		margin-bottom: 48px;
		&-background-image{
			margin-bottom: 10px;
			img {
				max-height: 200px;
				object-fit: cover;
				object-position: center;
				width: 100%;
			}
		}
		&_content {

			&-categories {
				color: $primary;
				font-size: 16px;
				font-weight: 700;
				line-height: 18px;
				margin: 0;
			}
		}
	}
}

.about {
	background-image: url(./assets/images/bg-about.png);
	background-repeat: repeat no-repeat;
	margin: 0 0 72px;

	&_background-image {
		max-width: 970px;
		width: 100%;

		img {
			max-height: 295px;
			object-fit: cover;
			width: 100%;
		}
	}

	&_box {
		background-color: $secondary;
		margin: 216px 0 0;
		padding: 36px 48px;
		position: relative;
		z-index: 1000;

		&-categories {
			color: $white;
			font-size: 16px;
			font-weight: 700;
			line-height: 18px;
			margin: 0;
			text-transform: uppercase;
		}

		h2 {
			color: $white;
		}

		p {
			color: $white;
			margin: 0;
		}
	}

	@include media-breakpoint-down(md) {
		background-repeat: repeat repeat;

		&_background-image {
			img {
				min-height: 484px;
				object-fit: cover;
				width: 100%;
			}
		}
		&_box {
			background-color: $secondary;
			margin: 360px 0 36px;
		}
	}
}

.projects {
	&_box {
		&-background-image {
			height: 100%;
			width: 100%;
			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}

			&:before {
				background-color: #1A1818;
				content: '';
				height: 100%;
				opacity: 0.8;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
		&-materiais {
			padding: 108px 15px 48px;
		}
		&-engenharia {
			padding: 120px 15px 60px;
		}
		&-content {
			align-items: center;
			display: flex;
			flex-direction: column;
			position: relative;
			z-index: 1000;
			img {
				margin: 0 0 10px;
			}
		}
	}
}